/*        HTML        */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    margin-top: 1rem;
    color: white;
}

/*        CLASS       */
.main-container {
width: 100vw;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: #c1c1c1;
padding: 5rem;
}


.main-content {
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    border-radius: 1.5rem;
    background-color: #008225; 
    width: 120rem;
    padding: 1rem;
}


.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 50%;
}

.imagem p {
    width: 70%;
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

.imagem img {
    height: 26.5rem;
    width: 30rem;
    
}

.campos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
}

.campos input, button {
    border: 0.1rem solid #008225
}

.campos input:focus {
    border: 0.1rem solid #008225
}


.inputs {
    padding: 1.5rem;
    border-radius: 1.5rem;
    width: 50%;
    height: 10%;
    margin: 1rem;
}

/*         ID         */



@media all and (max-width: 700px) {

    .main-container {
        padding: 3rem;
    }

    .main-content {
        flex-flow: wrap row;
    }

    .imagem {
        width: 100%;
    }

    .imagem p {
        font-size: 1.5rem;
    }

    .imagem img {
    
        height: 19rem;
        width: 20rem;
    }

    .inputs {
        padding: 1.5rem;
        border-radius: 1.5rem;
        width: 50%;
        height: 20%;
        margin: 0rem;
    }

    .campos {
        width: 100%;
    }
}

button {
    cursor: pointer;
}