/*        HTML        */

html {
    background-color: #01641d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*        CLASS       */

.btn {
    height: 70px;
    width: 400px;
    font-size: 20px;
    border-radius: 7px;
    background-color: #009e2d;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: background-color 1.0s ease;
    border: 3px solid #004617;
}

.btn:hover {
    background-color: rgb(118, 255, 159);
    color: black;
    border-radius: 25px;
    width: 450px;
}

/*         ID         */

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    width: 1000px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#store-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#slogan-paragraph {
    font-size: 25px;
    text-align: center;
    width: 670px;
    color: white;
}

#logo-image {
    width: 600px;
    height: 400px;
}