/*        HTML        */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: white;

}

nav {
    position: fixed; 
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #2fabcc;
    /*#006ba5;*/
    height: 10vh;
    z-index: 1000;
    box-shadow: 0px 0px 10px #3dd5ff;
}

/*        CLASS       */

.logo-img {
    height: 100px;
    width: 200px;  
}

.cart-img {
    height: 80px;
    width: 100px;
}

/*         ID         */

#container_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
    align-items: center;
}

#left_nav {
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
}

#search_product {
    height: 35px;
    width: 200px;
    border-radius: 20px;
    text-indent: 10px;
    border: 2px solid #0184b4;
}

#search_product:focus {
    outline: none;
}

#menu_button {
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    padding: 5px;
    background-color: #005d8b;
    height: 50px;
    width: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

#menu_button:hover {
    background-color: #d8f6ff;
    color: rgb(0, 0, 0);
    transition: background-color 0.5s ease;
}